gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Build outputs
/build/
**/build/
**/*.class
**/tmp/
**/generated/
**/intermediates/
**/outputs/apk/
**/outputs/bundle/

# IDE files
.idea/caches/
.idea/workspace.xml
.kotlin/errors/
.DS_Store
**/.DS_Store

# Logs
build_log.txt
logcat_dump.txt
